
body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

@media (min-width: 600px) {
    body {
        border-radius: 4px;
    }
}
.Button-default:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.CSS03_1{
    background-color: #f44336;
}
.CSS03_2{
    height: 0;
    padding-top: 56.25%;
}
.CSS03_3{
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: auto;
}